<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../assets/favicon.ico">
  <link rel="stylesheet" href="../assets/style/index.css">

  <title>Coding factory - Discord</title>
</head>
<body>

  <div class="container">
    <header>
        <div class="header center">
            <img class="discord-logo" height="50" width="100" src="../assets/images/discord_Logo.png"/>
            <h1>Discord Coding Factory</h1>
        </div>
        <div class="separator"></div>
    </header>

    <div class="content">
        <p id="message">Une erreur s'est produite lors de la connextion avec google !</p>
    </div>

    <footer>
        <div class="separator"></div>
        <div class="footer center">
            <p> © Coding Factory - <span id="year"></span></p>
        </div>
    </footer>
  </div>
</body>
</html>